@model IEnumerable<PalAdvisor.Models.Destination>

@{
    ViewBag.Title = "Index";
}

<h2>Hololens exported Destinations</h2>

<table class="table table-hover">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <strong>Meas.</strong> @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                <strong>Length:</strong> @Html.DisplayFor(modelItem => item.L)
</td>
            <td>
                <strong>Width:</strong> @Html.DisplayFor(modelItem => item.B)
</td>
            <td>
                <strong>Height:</strong> @Html.DisplayFor(modelItem => item.H)
</td>
            <td>
                <a class="btn btn-success" style="padding: 0px 5px 0px 5px !important" href="/Detail/Index?destinationId=@Html.DisplayFor(modelItem => item.Id)">Evaluate</a>
            </td>
        </tr>

        foreach (var gate in item.Gate)
        {
            <tr>
                <td style="border-top: none !important"> </td>
                <td style="border-top: none !important">
                    <strong>Gate</strong> @Html.DisplayFor(modelItem => gate.Id)
</td>
                <td style="border-top: none !important">
                    <strong>Width:</strong> @Html.DisplayFor(modelItem => gate.B)
</td>
                <td style="border-top: none !important">
                    <strong>Height:</strong> @Html.DisplayFor(modelItem => gate.H)
</td>
                <td style="border-top: none !important"></td>
            </tr>
        }
    }

</table>